* {
  /* border: 2px solid; */
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  max-width: 100%;
  /* border: 2px solid red; */
  font-family: 'Ranga', cursive;
  font-size: 1.125rem;
  background: rgb(249, 246, 217);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 5%
}

ul {
  list-style-type: none;
}

li {
  width: 100%;
  text-align: center;
}

ul a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: green;
}

@media (max-width: 480px) {
  .wrapper {
    top: 10%;
    font-size: 1.25rem
  }

  li {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    top: 13%;
    font-size: 1.45rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .wrapper {
    font-size: 2rem;
  }
}
